.HeaderMobile {
	border-bottom: 1px solid rgba(0,0,0,0.12);

	&__header {
		background: rgba(255,255,255,0.90);
		height: 54px;
		width: 100%;
		line-height: 54px;
		vertical-align: middle;
		text-align: center;
		font-size: 17px;
		font-weight: 600;
		position: relative;
	}

	&__back {
		line-height: 54px;
		vertical-align: middle;
		content: '';
		display: inline-block;
		width: 20px;
		height: 25px;
		background: url("./img/back.svg") no-repeat left center;
		position: absolute;
		left: 20px;
		top: 14px;
	}
}
