.AdditionList {
	background: #FFFFFF;

	&__list {
		display: flex;
		align-items: flex-start
	}

	&__item {
		margin-right: 13px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__image-wrapper {
		margin-bottom: 7px;
	}

	&__item-image {
		width: 160px;
		height: 160px;
		border-radius: 4px;
		position: relative;
	}

	&__item-title-wrapper {

	}

	&__item-title {
		font-size: 13px;
		color: #000000 !important;
		line-height: 18px;
		display: inline-block;
		max-width: 160px;
		white-space: normal;
		max-height: 36px;
		overflow: hidden;
	}

	&__item-price {
		font-size: 13px;
		color: #222222;
		line-height: 18px;
		font-weight: 600;
	}
}
