.CommunityListMobile {

	&__list {

	}

	&__item {

	}

	&__item:last-child &__item-image {
		margin-bottom: 0;
	}

	&__item:last-child &__item-description {
		margin-bottom: 0;
	}

	&__item-image {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		margin-bottom: 16px;
	}

	&__item-info {
		padding-left: 16px;
	}

	&__item-title {
		line-height: 10px;

		span {
			font-size: 15px;
			line-height: 20px;
			font-weight: 500;
			display: inline-block;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}

	&__item-description {
		line-height: 10px;
		margin-bottom: 16px;

		span {
			font-size: 14px;
			color: #71757A;
			line-height: 22px;
			display: inline-block;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}
