.GameSingle {
	background: #FFFFFF;
	padding: 25px;
	box-sizing: border-box;
	$imageDimension: 90px;

	&__item-image-wrapper {
		position: relative;
		vertical-align: top;
		width: $imageDimension;
		font-size: 0;
	}

	&__item-image {
		width: $imageDimension;
		height: $imageDimension;
		border-radius: 6px;
	}

	&__discount-badge {
		width: 40px;
		padding: 3px 5px;
		font-size: 12px;
		color: #FFFFFF;
		text-align: center;
		box-sizing: border-box;
		position: absolute;
		top: 4px;
		right: -6px;
		background: #E64646;
		border-radius: 6px;
		font-weight: 700;
	}

	&__item-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: $imageDimension;
		padding-left: 15px;
	}

	&__item-info-top {

	}

	&__item-info-bottom {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__bottom-left {
		display: flex;
		align-items: center;
	}

	&__controls {
	}

	&__item-title {
		font-size: 16px;
		font-weight: 500;
		line-height: 21px;
		padding-bottom: 12px;
	}

	&__item-description {
		font-size: 13px;
		color: #656565;
		line-height: 21px;
	}

	&__item-title + &__item-description {
		margin-top: -14px;
		padding-bottom: 10px;
	}

	&__item-price {
		font-size: 16px;
		font-weight: 700;
		margin-left: 10px;

		&--discounted {
			position: relative;
			background: #E64646;
			border-radius: 4px;
			padding: 6px 9px;
			color: #FFFFFF;
			font-weight: 700;
			display: inline-block;
			margin-left: 13px;

			&:before {
				position: absolute;
				content: '';
				display: inline-block;
				top: 8px;
				left: -7px;
				background: url("./img/arrow.svg") no-repeat center center;
				width: 7px;
				height: 14px;
			}
		}

		&--old {
			font-size: 12px;
			color: #939393;
			text-decoration: line-through;
			line-height: 21px;
			margin-left: 8px;
			display: inline-block;
		}
	}

	table {
		padding-bottom: 20px;
		width: 100%;
	}

	&__description {
		font-size: 13px;
		line-height: 19px;
		overflow: hidden;
	}

	&__extend {
		font-size: 13px;
		color: #45678F;
		cursor: pointer;
	}

	.WarningMobile {
		padding-bottom: 2px;
	}
}
