.GameInfo {
	background: #FFFFFF;
	padding: 22px 25px 25px;
	margin-bottom: 15px;
	box-shadow: 0 1px 0 0 #D7D8DB;

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		padding-bottom: 6px;
		width: 50%;
		display: flex;

		&:last-child {
			padding-bottom: 0;
		}
	}

	&__key {
		font-size: 13px;
		color: #656565;
		line-height: 19px;
		padding-right: 5px;
	}

	&__value {
		font-size: 13px;
		line-height: 19px;
	}
}
