.GameInfoMobile {

	&__list {

	}

	&__item {
		padding-bottom: 16px;

		&:last-child {
			padding-bottom: 0;
		}
	}

	&__key {
		font-size: 14px;
		color: #71757A;
		line-height: 18px;
		padding-bottom: 4px;
	}

	&__value {
		font-size: 15px;
		line-height: 18px;
	}
}
